@inherits LayoutComponentBase
@using pos_app.Client.Components.Layout

@if (IsSuperAdminPage())
{
    @Body
}
else
{
    <UserMainLayout>
        @Body
    </UserMainLayout>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">??</a>
</div>

<script src="js/file-download.js"></script>

@code {
    private bool IsSuperAdminPage()
    {
        var uri = NavigationManager.Uri;
        return uri.Contains("/superadmin");
    }

    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
}
